head{}
   body{}
      header{margin:auto;}
      h1{font-family: 'Hanalei Fill', cursive;margin:auto;text-align:center;}
         h2{text-align:center;}
   main{}

      * {box-sizing: border-box;}
      * {box-sizing: border-box;}
      .wrapper {
        max-width: 1000px;
        margin: 0 auto;
      }
.wrapper > div { padding: 1em;color: black;}
.wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {background-color: rgba(252, 98, 33, 0.5);
        grid-column: 1/6;
        grid-row: 3/7;
      }
      .two {background-color: rgba(33, 252, 222, 0.5);
        grid-column: 2;
        grid-row: 2;
      }
      .three {background-color: rgba(252, 98, 33, 0.5);
        grid-column: 3;
        grid-row: 3;
      }
      .four {background-color: rgba(33, 252, 222, 0.5);
        grid-column: 4;
        grid-row: 4;
      }
      .five {background-color: rgba(252, 98, 33, 0.5);
        grid-column: 5;
        grid-row: 5;
      }

      .six {background-color: rgba(33, 252, 222, 0.5);
        grid-column: 1;
        grid-row: 5;
      }
      .seven {background-color: rgba(252, 98, 33, 0.5);
        grid-column: 2;
        grid-row: 4;
      }
      .eight {background-color: rgba(33, 252, 222, 0.5);
        grid-column: 3/2;
        grid-row: 3/2;
      }
      .nine {background-color: rgba(252, 98, 33, 0.5);
        grid-column: 4;
        grid-row: 2;
      }
      .ten {background-color: rgba(33, 252, 222, 0.5);
        grid-column: 5;
        grid-row: 1;
      }


   footer{}
