head{}
   body{}
      header{}
      h1{font-family: 'Hanalei Fill', cursive;}
         h2{}
   main{}
      #squares{position:relative; display:block;margin-left:auto;margin-right:auto;
      opacity:.5}
   footer{}
