head{}
   body{}
      header{margin:auto;}
      h1{font-family: 'Hanalei Fill', cursive;margin:auto;text-align:center;}
         h2{text-align:center;}
   main{padding:80px}

      * {box-sizing: border-box;}
      * {box-sizing: border-box;}
      .wrapper {
        max-width: 1000px;
        margin: 0 auto;
      }
.wrapper > div { padding: 1em;color: black;}
.wrapper {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 0px;
        grid-auto-rows: minmax(100px, auto);
      }
      .one {background-color: rgba(252, 98, 33, 0.4);
        grid-column: 1/4;
        grid-row: 1;
      }
   .one:hover{z-index:1;width:400px;height:600px;background-color:rgba(252, 98, 33, 1);}

      .two {background-color: rgba(33, 252, 222, 0.4);
        grid-column: 3/7;
        grid-row: 1/4;
      }
   .two:hover{z-index:1;width:400px;height:600px;background-color: rgba(33, 252, 222, 1)}

      .three {background-color: rgba(252, 98, 33, 0.4);
        grid-column: 4/6;
        grid-row: 3/6;
        }
   .three:hover{z-index:1;width:400px;height:600px;background-color:rgba(252, 98, 33, 1)}

      .four {background-color: rgba(33, 252, 222, 0.4);
         grid-column: 2/5;
        grid-row: 5/7;
        }
   .four:hover{z-index:1;width:400px;height:600px;background-color: rgba(33, 252, 222, 1)}


      .five {background-color: rgba(252, 98, 33, 0.4);
         grid-column:1/3;
         grid-row: 6/10;
      }
   .five:hover{z-index:1;width:400px;height:600px;background-color:rgba(252, 98, 33, 1)}

      .six {background-color: rgba(33, 252, 222, 0.4);
         grid-column: 2/6;
        grid-row: 8/11;
      }
   .six:hover{z-index:1;width:400px;height:600px;background-color: rgba(33, 252, 222, 1)}

      .seven {background-color: rgba(252, 98, 33, 0.4);
         grid-column: 3/5;
         grid-row: 10/14;
      }
   .seven:hover{z-index:1;width:400px;height:600px;background-color:rgba(252, 98, 33, 1)}

      .eight {background-color: rgba(33, 252, 222, 0.4);
         display:none;grid-column: 2/7;
         grid-row: 7/10;
      }
   .eight:hover{z-index:1;width:400px;height:600px;background-color: rgba(33, 252, 222, 1)}

      .nine {background-color: rgba(252, 98, 33, 0.4);
         display:none;grid-column: 1/4;
         grid-row: 9/11;
      }
   .nine:hover{z-index:1;width:400px;height:600px;background-color:rgba(252, 98, 33, 1)}

      .ten {background-color: rgba(33, 252, 222, 0.4);
         display:none;grid-column: 3/5;
         grid-row: 9/13;
      }
   .ten:hover{z-index:1;width:400px;height:600px;background-color: rgba(33, 252, 222, 1)}


   footer{}
