head{}
   body{}
      header{margin:auto;}
      h1{font-family: 'Hanalei Fill', cursive;margin:auto;text-align:center;}
         h2{text-align:center;}
   main{}

      * {box-sizing: border-box;}
      * {box-sizing: border-box;}
      .wrapper {
        max-width: 1000px;
        margin: 0 auto;
      }
.wrapper > div { padding: 1em;color: black;}
.wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        grid-auto-rows: minmax(100px, auto);border-radius:5px;
      }
      .one {background-color: rgba(252, 98, 33, 0.2);
        grid-column: 1/4;
        grid-row: 1;
      }
   .one:hover{z-index:1;width:400px;height:600px;}

      .two {background-color: rgba(33, 252, 222, 0.2);
        grid-column: 3;
        grid-row: 1/4;
      }
   .two:hover{z-index:1;width:400px;height:600px;}

      .three {background-color: rgba(252, 98, 33, 0.2);
        grid-column: 4/6;
        grid-row: 2;
        }
   .three:hover{z-index:1;width:400px;height:600px;}

      .four {background-color: rgba(33, 252, 222, 0.2);
         grid-column: 2/4;
        grid-row: 2/4;
        }
   .four:hover{z-index:1;width:400px;height:600px;}


      .five {background-color: rgba(252, 98, 33, 0.2);

      }
   .five:hover{z-index:1;width:400px;height:600px;}

      .six {background-color: rgba(33, 252, 222, 0.2);
display:none;
      }
   .six:hover{z-index:1;width:400px;height:600px;opacity:1}

      .seven {background-color: rgba(252, 98, 33, 0.2);
display:none;
      }
   .seven:hover{z-index:1;width:400px;height:600px;}

      .eight {background-color: rgba(33, 252, 222, 0.2);
display:none;
      }
   .eight:hover{z-index:1;width:400px;height:600px;}

      .nine {background-color: rgba(252, 98, 33, 0.2);
display:none;
      }
   .nine:hover{z-index:1;width:400px;height:600px;}

      .ten {background-color: rgba(33, 252, 222, 0.2);
display:none;
      }
   .ten:hover{z-index:1;width:400px;height:600px;}


   footer{}
